<div class="form-user">
  <form [formGroup]="form" (ngSubmit)="user()">
    <mat-card>
      <mat-card-header>
        <mat-card-title> registro usuario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <!-- <td>
                <mat-form-field class="col-md-6">
                  <mat-label>id</mat-label>
                  <input matInput formControlName="iduser" />
                </mat-form-field>
              </td> -->
              <td>
                <mat-form-field class="col-md-6">
                  <mat-label>Nombres</mat-label>
                  <input matInput formControlName="Nombres" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="col-md-6">
                  <mat-label>Apellidos</mat-label>
                  <input matInput formControlName="Apellidos" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="col-md-6">
                  <mat-label>contraseña</mat-label>
                  <input matInput formControlName="password" />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <td>
            <mat-form-field class="col-md-3">
              <mat-label>Dni</mat-label>
              <input
                matInput
                formControlName="Dni"
                #postalCode
                maxlength="8"
                placeholder="ingrese su Dni"
                value=""
              />
              <mat-hint align="end">{{ postalCode.value.length }} / 8</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="col-md-9">
              <mat-label>email</mat-label>
              <input matInput formControlName="EmailUsuario" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Telephone</mat-label>
              <span matPrefix>+51 &nbsp;</span>
              <input
                matInput
                formControlName="NumeroTelefonico"
                #telephone
                maxlength="9"
                placeholder="555-555-1234"
              />
              <mat-hint align="end"
              >{{telephone.value.length }} / 9</mat-hint
            >
            </mat-form-field>
          </td>
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Direccion</mat-label>
              <textarea
                matInput
                formControlName="Direccion"
                placeholder="Ex. 100 Main St"
              > </textarea
              >
            </mat-form-field>
          </p>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Postal Code</mat-label>
                  <input
                    matInput
                    formControlName="CodigoPostal"
                    #postalCode
                    maxlength="5"
                    placeholder="Ex. 94105"
                    value="94043"
                  />
                  <mat-hint align="end"
                    >{{ postalCode.value.length }} / 5</mat-hint
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>fecha</mat-label>
                  <input 
                    matInput
                    formControlName="FechaNacimiento"
                    #fechaCode
                    maxlength="10"
                    placeholder="date"
                    value="94043"
                  />
                  <mat-hint align="end"
                    >{{ fechaCode.value.length }} / 10</mat-hint
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          class="button_regitrar"
          mat-raised-button
          color="primary"
        >
          Registrar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
